body {
    font-family: Arial, sans-serif;
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-de-madeira_24972-623.jpg?t=st=1744313478~exp=1744317078~hmac=5f8767b679518f6fc827b097412613c48f92b62eb68b33c0607727e2d1adba6f&w=996); /* Fundo madeira */
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 100, 0, 0.8);
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    color: red;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.menu label {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
