body {
    background-color: #1b1b1b; /* Cor de fundo uniforme */
    color: black;
}

header {
    background-color: rgba(0, 100, 0, 0.8);
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    color: red;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.menu label {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
