body {
    background-color: #000000;	/
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #7f1d1d;
    color: white;
}

h1 {
    color: white;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.menu label {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: DarkRed;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
